.custom-scroll-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
}

.vertical-scroll-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    /* 横向溢出时隐藏 */
}

.horizontal-scroll-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* 纵向溢出时隐藏 */
}