/* PointRequestPage.css */
.point-request-container {
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    /* background-color: #fff; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.point-request-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.ant-form-item-label label {
    font-weight: bold;
}

.ant-form-item {
    margin-bottom: 20px;
}

.ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.ant-btn-primary:active {
    background-color: #096dd9;
    border-color: #096dd9;
}